In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

# dataset = pd.read_json('http://ticket-booking-api.herokuapp.com/tickets/20')
dataset = pd.read_csv('./Dataset.csv')
dataset.head()

,STUDENT REG_NO,STUDENT NAME,QEM_MCQ,EM_MCQ_PER,QH_MCQ,H_MCQ_PER,QEM_PS,EM_PS_PER,QH_PS,H_PS_PER,PACKAGE
0,714017104001,Ahalya S P,321,75,162,61,22,63,11,45,300000
1,714017104002,Walley,370,72,180,63,25,70,12,30,300000
2,714017104003,Eva,461,73,223,67,30,75,13,35,300000
3,714017104004,Priya,538,82,262,64,37,80,14,40,300000
4,714017104005,Vishnu,681,81,341,62,42,60,15,32,300000

In [2]:
Y = dataset.iloc[:, -1:].values
X = dataset.iloc[:, 2:-1].values
from sklearn.model_selection import train_test_split
from sklearn.metrics import explained_variance_score
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit(X_train,Y_train)

Y_pred = regression.predict(X_test)

In [3]:
acc = explained_variance_score(Y_test,Y_pred)
print("Linear Reggression Accuracy = ",acc)

Linear Reggression Accuracy =  0.9669194639542568

In [4]:
pickle.dump(regression, open("model.pkl", "wb"))

In [5]:
model = pickle.load(open("model.pkl","rb"))
print(model.predict([[1185,93,479,81,59,55,18,25],[2697,93,1133,88,219,89,60,72],[4689,91,2201,88,441,91,134,75]]))

[[ 376698.46159009]
 [ 716819.59115329]
 [1008694.90867236]]

In [6]:
from sklearn.neighbors import KNeighborsClassifier
kneighborClassifier = KNeighborsClassifier(n_neighbors=5)
kneighborClassifier.fit(X_train,Y_train)

<ipython-input-6-50c6af81ba89>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  kneighborClassifier.fit(X_train,Y_train)

KNeighborsClassifier()

In [8]:
Y_pred_kn = kneighborClassifier.predict(X_test)

In [9]:
print("K-nearest Neighbour Accuracy = ",explained_variance_score(Y_test,Y_pred_kn))

K-nearest Neighbour Accuracy =  0.9594652867615352

In [10]:
from sklearn.naive_bayes import GaussianNB  
nbClassifier = GaussianNB()
nbClassifier.fit(X_train, Y_train)

C:\Users\1999b\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [11]:
Y_pred_nb = nbClassifier.predict(X_test)

In [12]:
print("Naive Bayes Accuracy = ",explained_variance_score(Y_test,Y_pred_nb))

Naive Bayes Accuracy =  0.9729409228115568

In [13]:
from sklearn.linear_model import LogisticRegression
logReggClassifier = LogisticRegression(random_state=0).fit(X_train, Y_train)

C:\Users\1999b\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\1999b\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [14]:
Y_pred_logreg = logReggClassifier.predict(X_test)

In [15]:
print("Logisitic Reggression Accuracy = ",explained_variance_score(Y_test,Y_pred_logreg))

Logisitic Reggression Accuracy =  0.9789780077619664

In [16]:
pickle.dump(logReggClassifier, open("model.pkl", "wb"))

In [17]:
model = pickle.load(open("model.pkl","rb"))
print(model.predict([[1185,93,479,81,59,55,18,25],[2697,93,1133,88,219,89,60,72],[4689,91,2201,88,441,91,134,75]]))

[ 300000  700000 1000000]